header {
    background-color: #7AB7FF;
    background-image: url('../img/pattern.png');
    background-size: 20%;
}

section h1{
    font-size: xx-large;
    
}
header img {
    width: 20%;
}

section div{
    color: grey;
}

.sottotitolo {
    color: black;
}

.booleam {
    color: #7AB7FF;
}

.evidenziatore{
    background-color: yellow;
}
thead {
    background-color: #066ce0;
    color: white;
    
}

td {
    width: 25%;

}

.blu {
    background-color: #7AB7FF;
}


footer {
    color: grey;
    font-weight: bold;
}


.monitor {
    background-image: url('../img/monitor.jpg');
    background-size: auto;
    height: 220px;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.graphic {
    background-image: url('../img/graph.jpg');
    background-size: auto;
    height: 220px;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: x-large;

}